@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #ffc5d1;
    font-family: 'Roboto', sans-serif;
}

.product-item {
    border-bottom: 1px solid #ccc; /* Linha separadora */
}

.product-item:last-child {
    border-bottom: none; /* Remove linha do último item */
}

.products-container {
    margin-bottom: 50px; /* Espaçamento entre os produtos e o carrinho */
}

.cart-section {
    margin-top: 50px; /* Espaçamento para o botão do carrinho */
}

.cart-animation {
    animation: cart-bounce 0.5s ease-in-out;
  }
  
  @keyframes cart-bounce {
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
  }

  /* Estilização geral do modal do carrinho */
#cart-modal .rounded-md {
    font-family: 'Roboto', sans-serif; /* Escolha uma fonte suave */
    color: #333; /* Cor do texto mais suave */
}

/* Título "Meu Carrinho" */
#cart-modal h2 {
    font-size: 1.8em;
    font-weight: 700;
    color: #444;
    margin-bottom: 10px;
}

/* Nome dos produtos */
#cart-modal .font-medium {
    font-size: 1.1em;
    font-weight: 500;
    color: #555;
}

/* Quantidade e Preço */
#cart-modal p {
    font-size: 1em;
    color: #666;
}

/* Quantidade */
#cart-modal p:nth-child(2) {
    font-style: italic;
    font-size: 0.9em;
    color: #888;
}

/* Preço */
#cart-modal .mt-2 {
    font-weight: 600;
    color: #333;
}

/* Botão "Remover" */
#cart-modal .remove-from-cart-btn {
    font-size: 0.9em;
    color: #e74c3c; /* Cor do botão remover em vermelho */
    cursor: pointer;
    border: none;
    background: none;
    padding: 0;
    transition: color 0.3s ease;
}

#cart-modal .remove-from-cart-btn:hover {
    color: #c0392b; /* Escurece o vermelho ao passar o mouse */
}

/* Total */
#cart-total {
    font-size: 1.2em;
    font-weight: 700;
    color: #333;
}

/* Forma de entrega */
#cart-modal .font-bold {
    font-weight: 500;
    color: #555;
    margin-top: 15px;
}

/* Botões de fechar e finalizar pedido */
#cart-modal button {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#cart-modal #close-modal-btn {
    background-color: #ccc;
    color: #333;
    border: none;
}

#cart-modal #close-modal-btn:hover {
    background-color: #bbb;
}

#cart-modal #checkout-btn {
    background-color: #27ae60;
    color: #fff;
    border: none;
}

#cart-modal #checkout-btn:hover {
    background-color: #219150;
}
